<section id="contact" class="absolute indexOff d-none">
    <div class="container">
        <p class="text-center m-short">Comment me contacter</p>
        <h2 class="text-center m-title">Contact</h2>
        <div class="animation-bar"></div>

        <div class="contact p-content d-flex space-between f-wrap">
            <form action="#" class="m-auto">
                <h4>Votre message</h4>
                <div class="d-flex space-between">
                    <input id="name" type="text" placeholder="Nom">
                    <input id="email" type="text" placeholder="Email">
                </div>
                <input id="subject" type="text" placeholder="Objet">
                <textarea id="message" cols="30" rows="10" placeholder="Message"></textarea>
                <input class="btn-submit" type="submit" value="Envoyer">
            </form>
            <div class="about m-auto">
                <h4>Informations</h4>
                <p>Pour plus d'informations, n'hésitez pas.</p>
                <ul>
                    <li>
                        <p>Location</p>
                        <p>Besançon, France</p>
                    </li>
                    <li>
                        <p>Téléphone</p>
                        <a href="tel:+33769461419">+33 7 69 46 14 19</a>
                    </li>
                    <li>
                        <p>Email</p>
                        <a href="mailto:a.vigneaud@gmail.com">a.vigneaud@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>