<section id="home" class="absolute d-flex justify-center align-center">
    <div class="contennt-home ">
        <h1>Vigneaud Alexandre</h1>
        <h4>
            I am
            <span>Developer</span>
        </h4>
    </div>
</section>