<section id="home" class="absolute d-flex justify-center align-center">
    <div class="contennt-home ">
        <h1>Vigneaud Alexandre</h1>
        <h4>
            I am
            <span>Developer</span>
        </h4>
    </div>
    <ul>
        <li><a href="https://github.com/AlxandrV/" target="_blank" rel="noopener noreferrer"><img src="/public/images/icons/github.svg" alt="Logo Github" width="21" height="21"></a></li>
        <li><a href="https://www.linkedin.com/in/alexandre-vigneaud-1843b519a/" target="_blank" rel="noopener noreferrer"><img src="/public/images/icons/linkedin.svg" alt="Logo Linkedin" width="21" height="21"></a></li>
    </ul>
</section>