<section id="project" class="absolute indexOff">
    <div class="container">
        <p class="text-center m-short">Liste des mes plus beaux projets</p>
        <h2 class="text-center m-title">Projects</h2>
        <div class="animation-bar"></div>

        <div class="d-flex">
            <a href="#" target="_blank" class="project">
                <div class="info">
                    <h5>My project</h5>
                    <ul>
                        <li>Symfony</li>
                        <li>Vues</li>
                        <li>Node</li>
                    </ul>
                </div>
                <div class="illustration"></div>
            </a>            
        </div>
    </div>
</section>
