// Animation bar
.animation-bar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: $backgroundSecondary;
    margin: 0 auto;
}
.animation-bar::before{
    content: "";
    display: block;
    position: relative;
    width: 4px;
    height: 4px;
    border-left: solid 4px $background;
    border-right: solid 4px $background;
    animation: 3s linear infinite translation;
}
@keyframes translation{
    from{
        transform: translateX(-12px);
    }to{
        transform: translateX(90px);
    }
}