// Class custom

// Flexbox
.d-flex{ display: flex; }
.space-arround{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.justify-center{ justify-content: center; }
.align-center{ align-items: center; }
.f-wrap{ flex-wrap: wrap; }

// Position
.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

// Margin
.m-auto{ margin: auto; }
.m-short{ margin-bottom: 17px; }
.m-title{ margin-bottom: 37px; }
.m-content{ margin-top: 83px; }

// z-index
.indexOn{ z-index: 30; }
.indexOff{ z-index: -10; }
.indexCursor{ z-index: 31; }

// Container
.container{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 70px auto;
}

// Text
.text-center{ text-align: center; }