#contact{
    width: 100vw;
    height: 100vh;
}

.contact{

    .btn-submit{
        background-color: $backgroundSecondary;
        box-sizing: border-box;
        width: min-content;
        padding: 0 30px;
        height: 40px;
        border-radius: 20px;
    }

    form{
        width: 60%;
        min-width: 590px;
        padding-right: 20px;
        margin-bottom: 35px;

        div input{
            width: 48%;
            color: $fontsPrimary;
        }

        input, textarea{
            background-color: $formContact;
            border: none;
            box-sizing: border-box;
            padding: 5px;
            border-radius: 3px;
            margin-bottom: 20px;
            font-size: $paragraph;
        }

        > input, textarea{
            width: 100%;
        }

        input{
            height: 45px;
        }
    }

    h4{
        font-size: $titleh4;
        margin-bottom: 20px;
    }

    .about{
        min-width: 350px;
        width: calc(40% - 50px);

        ul p:nth-of-type(2), ul a, > p:first-of-type{
            color: $fontsSecondary;
        }
        ul p:first-child{
            color: $fontsPrimary;
        }

        > p{
            margin-bottom: 60px;
        }
        
        li{
            padding-left:1rem;
            border-left: solid 2px $overlay;
        }
        li:not(:last-child){
            padding-bottom: 32px;
        }

        // li:first-of-type{
        //     list-style: url('/public/images/icons/map.svg');
        // }
        // li:nth-of-type(2){
        //     list-style: url('/public/images/icons/phone.svg');
        // }
        // li:last-of-type(2){
        //     list-style: url('/public/images/icons/mail.svg');
        // }
    }

}