#home{
    width: 100vw;
    height: 100vh;
    text-align: center;

    .content-home{
        box-sizing: border-box;
        padding: 0 15px;

        h1{
            font-size: $titleh1;
            margin-bottom: 34px;
        }
    
        h4{
            font-size: $titleh4;
        }
    
    }

    ul{
        position: absolute;
        right: 60px;
        bottom: 35px;

        li:not(:last-of-type){
            margin-bottom: 20px;
        }
    }
}
