#project{
    width: 100vw;
    height: 100vh;
}

.project{
    min-width: 490px;
    width: calc(50% - 20px);
    min-height: 165px;
    // height: 210px;
    margin-bottom: 35px;
    padding: 0 10px;
}

.info{
    border-left: solid 3px $backgroundSecondary;
    width: calc(40%);
    height: 100%;
    background-color: $overlay;
    box-sizing: border-box;
    padding: 15px 20px;

    h5{
        margin-bottom: 40px;
        font-size: $titleh5;
    }

    ul{
        padding-left: 15px;
    }

    li{
        font-size: $paragraph;
    }
    li::before{
        content: "\2022";
        color: $backgroundSecondary;
        vertical-align: middle;
        font-size: 50px;
        padding-right: 1rem;
        line-height: 25px;
    }
}

.illustration{
    position: relative;
    width: calc(60%);
    // height: 100%;
    overflow: hidden;
    
    img{
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    p{
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        width: 100%;
        padding: 0 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}