<nav class="d-flex space-between absolute">
    <div class="logo">
        <img src="/public/images/icons/logo.png" alt="Logo du site" width="25" height="29">
    </div>
    <ul class="navbar d-flex">
        <li><a href="#project">Projets</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<div class="closeCursor indexOff">
    <span></span>
</div>