<nav class="d-flex space-between absolute">
    <div class="logo">
        <p>coucou</p>
    </div>
    <ul class="navbar d-flex">
        <li><a href="#project">Projets</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<div class="closeCursor indexOff">
    <span></span>
</div>